* {
	box-sizing: border-box;
	--radius: 5px;
	--primary: #012f70;
	--secondary: #f57600;
	--bg: color-mix(in srgb, var(--primary), black 50%);
	--fg: color-mix(in srgb, var(--primary), white 80%);
	--link: color-mix(in srgb, var(--primary), white 95%);
	--link: var(--secondary);
	--border: var(--primary);
}

body,
html {
	font-size: 1rem;
	font-weight: 500;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: var(--bg);
	color: var(--fg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

ul {
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 1em;
	list-style-type: none;
}

ul li {
	padding: 4px 8px;
}

header {
	max-width: 900px;
	margin: 0 auto 0 auto;
	padding: 8px 0;
}

main,
footer {
	max-width: 800px;
	margin: 0 auto;
}

section {
	margin: 8px;
	padding: 8px 16px;
	background-color: color-mix(in srgb, var(--bg), var(--fg) 10%);
	border-radius: var(--radius);
	border: 2px solid var(--border);
}

a {
	color: var(--link);
}

a:hover {
	color: color-mix(in srgb, var(--link), var(--fg) 50%);
}

a:visited {
	color: color-mix(in srgb, var(--link), var(--fg) 50%);
}