* {
	box-sizing: border-box;
	--radius: 5px;
	--primary: #000;
	--secondary: #fff;
	--gallery-img-size: 100px;
}

body[data-theme="blue"] {
	--primary: #0A174E;
	--secondary: #F5D042;
}

body[data-theme="red"] {
	--primary: #1b1917;
	--secondary: #ec594c;
}

body[data-theme="green"] {
	--primary: #02343F;
	--secondary: #F0EDCC;
}

body[data-theme="dark"] {
	--primary: #140c06;
	--secondary: #fafafa;
}

body[data-theme="light"] {
	--primary: #847c75;
	--secondary: #fafafa;
}

body,
html {
	font-size: 1rem;
	font-weight: 500;
	font-family: Georgia, 'Times New Roman', Times, serif;

	width: 100vw;
	margin: 0;
	padding: 0;


	--bg: color-mix(in srgb, var(--primary), black 3%);
	--fg: color-mix(in srgb, var(--secondary), white 40%);

	--button-bg: color-mix(in srgb, var(--secondary), white 30%);
	--button-fg: color-mix(in srgb, var(--primary), black 30%);

	--border: color-mix(in srgb, var(--bg), var(--fg) 10%);
	--link: var(--secondary);

	background-color: var(--bg);
	color: var(--fg);

	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

ul {
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 1em;
	list-style-type: none;
}

ul li {
	padding: 4px 8px;
}

header {
	max-width: 900px;
	margin: 0 auto 0 auto;
	padding: 8px 16px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	text-align: left;
	gap: 16px;
}

header h1 {
	flex-basis: 100%;
}

header nav {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	gap: 32px;
}

header nav a {
	text-decoration: none;
}

main,
footer {
	max-width: 800px;
	margin: 0 auto;
	padding: 16px;
}

section {
	margin: 16px 0;
	padding: 8px 16px;
	background-color: color-mix(in srgb, var(--bg), white 5%);
	border-radius: var(--radius);
	border: 2px solid var(--border);
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	color: var(--link);
}

a:hover {
	color: color-mix(in srgb, var(--link), var(--fg) 50%);
}

a:visited {
	color: color-mix(in srgb, var(--link), var(--fg) 50%);
}

button,
select {
	padding: 8px 16px;
	font-weight: bold;
	background-color: var(--button-bg);
	color: var(--button-fg);
	border: 1px solid var(--button-fg);
	cursor: pointer;
	border-radius: var(--radius);
	font-size: 18px;
}

main {
	position: relative;
}

#themeSwitcher {
	padding: 4px 8px;
}

button {
	opacity: 0.8;
}

button:hover,
button:active,
button:focus {
	opacity: 1;
}

.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 8px;
	position: relative;
}

.gallery img {
	width: 100%;
	transform: scale(0.8);
	cursor: pointer;
}

.gallery img:hover {
	z-index: 1;
	transform: scale(1);
}

.gallery a:focus {
	outline: 1px dashed black;
	outline-offset: -5px;
}

#viewbox {
	position: fixed;
	z-index: 99;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: rgba(20, 20, 20, 0.8);
	backdrop-filter: blur(10px);

	display: flex;
	align-items: stretch;
	justify-content: center;

	padding: 32px;
}

#viewbox::before {
	position: absolute;
	top: 16px;
	right: 16px;
	content: "Close";
	display: block;
	font-size: 24px;
	cursor: pointer;
	z-index: 100;
	background-color: var(--fg);
	padding: 8px 16px;
	border-radius: var(--radius);
	color: var(--bg);
	box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
	font-weight: bold;
}

#viewbox img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	opacity: 0.9;
}

#viewbox[data-open="false"] {
	display: none;
}

#projects ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
}

#projects ul li {
	padding: 16px;
}

#projects ul li img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	padding: 8px;
}

.flex {
	display: flex;
}

.flow-column {
	flex-direction: column;
}

.hid {
	display: none;
}